# Node.js
node_modules/
npm-debug.log
.DS_Store

# Database
db/

# Environment variables
.env

# Ollama-related files
ollama
ggml-metal.metal
build/
.cache
*.exe
.idea
test_data
*.crt
llm/build
build/*/*/*
!build/**/placeholder
__debug_bin*
llama/build
llama/vendor
/ollama
